* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.projectbox{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 5px;
    min-width:  100vw;
    position: absolute;
    bottom: 10%;
    left:30px ;
    background-color: red;
    
    
    
    
}
.move{
    
}
.Pcontents{
    height: 500px;
    background-color: #03A64A;
    margin-left: 40px;
    grid-column: 1/5;
}